.mainwrapper{
  display: flex;
}
.appointment-form {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .appointment-form .form-control {
    background-color: #333;
    color: white;
    border: none;
  }
  .myform{
    width: 60vw;
    margin: 0 2em;
  }
.appoint{
  width: 30vw;
}
  .tit2{
    margin-left: 3em;
    color: white;
  }
  
  .appointment-form .form-control:focus {
    background-color: #444;
    color: white;
    border: none;
    box-shadow: none;
  }
  
  .teal-green-button {
    background-color: teal;
    border-color: teal;
  }
  
  .teal-green-button:hover {
    background-color: #006d5b;
    border-color: #006d5b;
  }
  
  .appointment-form .form-label {
    color: white;
  }
  
  .text-white {
    color: white;
  }
  


  @media only screen and (max-width: 440px){
    .logo{
      width: 5em;
    }
    .mainwrapper{
      display: flex;
      flex-direction: column;
      width: 100vw;
      overflow-x: hidden;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .appoint{
      display: none;
    }
    .my-5{
      margin: 0;
      padding: 0;
    }
    .myform{
      margin: 0;
    }
    .input1{
      height: 3em;
      padding: 0 1em;
    }
    .butts{
      width: 80vw;
    }
  }